@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizYRExUiTo99u79D0e0x8mN.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizdRExUiTo99u79D0e8fOydLxUY.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v10/jizfRExUiTo99u79B_mh0O6tKA.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKtdSZaM9iE8KbpRA_hK1QI.ttf) format('truetype');
}
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v10/pxiKyp0ihIEF2isfFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v13/FwZY7-Qmy14u9lezJ-6H6Mw.ttf) format('truetype');
}
@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee'), local('Bungee-Regular'), url(https://fonts.gstatic.com/s/bungee/v4/N0bU2SZBIuF2PU_0DXRw.ttf) format('truetype');
}
footer {
  background: #2c419b;
  height: 10vh;
  margin-top: 10%;
}
.top-bar {
  width: 100%;
  padding: 20px;
  position: absolute;
  font-family: 'Quicksand', sans-serif;
  z-index: 50;
}
.top-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  color: ghostwhite;
}
.top-bar .logo-main {
  font-family: 'Pacifico', cursive;
  font-size: 2.7rem;
  margin-right: 5px;
}
.top-bar .container-right {
  width: 173px;
  display: flex;
  font-size: 1.1rem;
  justify-content: space-around;
}
@media (max-width: 680px) {
  .top-bar .container-right {
    justify-content: flex-end;
  }
}
.top-bar .container-right a {
  text-decoration: none;
  color: white;
}
.top-bar .container-right .hamburger {
  display: none;
}
@media (max-width: 680px) {
  .top-bar .container-right .hamburger {
    display: block;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    border-radius: 10px;
    background-color: #24dc8e;
    padding: 2px 2px 0px 2px;
  }
  .top-bar .container-right .hamburger:hover {
    cursor: pointer;
    opacity: 0.75;
  }
}
.top-bar .abtus {
  font-size: 1.5rem;
}
.top-bar .abtus a {
  color: #0f71a7;
  text-decoration: none;
}
.top-bar .abtus a:hover {
  text-decoration: underline;
}
@media (max-width: 680px) {
  .top-bar .abtus {
    display: none;
  }
  .top-bar .signup {
    display: none;
  }
  .top-bar .logIn {
    display: none;
  }
}
.top-bar .topBtn {
  border-radius: 10px;
  padding: 10px;
  background-color: orange;
  font-weight: bold;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.top-bar .topBtn:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.top-bar .signup {
  background: #3c4bf5;
}
.top-bar .logIn {
  background-color: #24dc8e;
}
.background-cont {
  margin-bottom: 2%;
}
.header {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  display: flex;
  color: whitesmoke;
  justify-content: center;
  position: relative;
}
.header .back-text {
  width: 100%;
  height: 132%;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(90deg, #4632aa, #00a5ff 50%, #24c6dc);
  transform: skewY(-13deg);
  top: 0px;
  transform-origin: 0;
}
@media (max-width: 680px) {
  .header .back-text {
    height: 106%;
  }
}
.header .back-text .texture:first-child {
  position: absolute;
  width: calc(100%/3);
  height: 23%;
  top: calc(0%);
  background: #2c419b;
}
@media (max-width: 680px) {
  .header .back-text .texture:first-child {
    display: none;
  }
}
@media (max-width: 1000px) {
  .header .back-text .texture:first-child {
    height: 16%;
  }
}
.header .back-text .texture:nth-child(2) {
  position: absolute;
  width: calc(100%/3);
  height: 13%;
  top: calc(100%/4/2.5);
  background: #0087ea;
  right: 33.5%;
}
@media (max-width: 680px) {
  .header .back-text .texture:nth-child(2) {
    display: none;
  }
}
@media (max-width: 1000px) {
  .header .back-text .texture:nth-child(2) {
    height: 16%;
    top: calc(-1%/4/2.5);
  }
}
.header .back-text .texture:nth-child(3) {
  width: calc(28%);
  height: 31%;
  position: absolute;
  top: 79%;
  left: -9%;
  border: 4px double #38569f;
}
@media (max-width: 680px) {
  .header .back-text .texture:nth-child(3) {
    display: block;
    position: absolute;
    width: calc(100%/3);
    height: 23%;
    top: 0%;
    border: none;
    background: #02b7ff;
    right: 27.5%;
    top: -13%;
    left: 37%;
  }
}
.header .back-text .texture:nth-child(4) {
  position: absolute;
  width: calc(100%/3);
  height: 20.9%;
  top: 79%;
  background: #02b7ff;
  right: -10.5%;
}
.header .background {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 600px;
  justify-content: center;
  align-content: center;
  height: 500px;
  z-index: 50;
  margin-top: 70px;
  text-align: center;
}
@media (max-width: 680px) {
}
@media (max-width: 680px) {
  .header .background h3 {
    font-size: 2.063rem;
  }
}
.header .background p {
  width: 100%;
  font-size: 1.5rem;
}
@media (max-width: 680px) {
  .header .background p {
    margin: 10px;
    margin-bottom: 40px;
    font-size: 1.3rem;
  }
}
.header .background .button-signup {
  background: orange;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 30px;
  width: 30%;
  padding: 20px;
  text-align: center;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.header .background .button-signup:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.header .background .button-signup a {
  color: white;
  padding: 10px;
}
.header .background .button-signup a:visited {
  text-decoration: none;
}
@media (max-width: 680px) {
  .header .background .button-signup {
    width: 70%;
  }
}
.feature-content {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
@media (max-width: 680px) {
  .feature-content {
    margin-top: 0%;
  }
}
.feature-content h3 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 2.3rem;
  font-family: 'Quicksand', sans-serif;
  color: #2c419b;
}
@media (max-width: 680px) {
  .feature-content h3 {
    justify-content: center;
  }
}
.feature-content .column-cont-about {
  width: 100%;
  padding: 10%;
}
.feature-content .column-cont-about .grid-container {
  font-family: 'Bungee', cursive;
  color: white;
  text-align: center;
  font-size: 1.1rem;
}
.feature-content .column-cont-about .grid-container .preview {
  border-radius: 35px;
  background: #4632aa;
  overflow: hidden;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.feature-content .column-cont-about .grid-container .preview .team-img img {
  width: 100%;
}
.feature-content .column-cont-about .grid-container .preview .team-content {
  grid-column: 2 / span 2;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  padding: 10%;
}
.feature-content .column-cont-about .grid-container .preview .gitBtn {
  border-radius: 10px;
  padding: 6%;
  background-color: black;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  font-family: 'Bungee', cursive;
  width: 60%;
  display: flex;
  justify-content: center;
}
.feature-content .column-cont-about .grid-container .one {
  grid-column: 1 / span 1;
}
.feature-content .column-cont-about .grid-container .two {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.feature-content .column-cont-about .grid-container .three {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}
.feature-content .column-cont-about .grid-container .four {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
.feature-content .column-cont-about .grid-container .five {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.feature-content .column-cont-about .grid-container .six {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}
.feature-content .column-cont-about .grid-container .seven {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}
.feature-content .column-cont {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-family: 'Quicksand', sans-serif;
}
@media (max-width: 1000px) {
  .feature-content .column-cont {
    margin-top: 10%;
  }
}
@media (max-width: 680px) {
  .feature-content .column-cont {
    flex-direction: column;
    align-items: center;
  }
}
.feature-content .column-cont .blurry {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  width: 100%;
  height: 100%;
  background-color: #ccc;
}
.feature-content .column-cont .left-column {
  height: 500px;
  width: 25%;
  margin-top: 11%;
}
@media (max-width: 1000px) {
  .feature-content .column-cont .left-column {
    width: 40%;
  }
}
@media (max-width: 680px) {
  .feature-content .column-cont .left-column {
    width: 90%;
  }
}
.feature-content .column-cont .left-column p {
  line-height: 2;
  font-size: 1.5rem;
  color: #44454b;
}
.feature-content .column-cont .left-column ul {
  line-height: 1.5;
  font-size: 1.5rem;
  color: #44454b;
  align-items: center;
  list-style-image: url('https://upload.wikimedia.org/wikipedia/commons/8/86/Chevron-right%2C_Web_Fundamentals.svg');
}
.feature-content .column-cont .right-column {
  height: 800px;
  width: 49%;
  display: grid;
  grid-template-rows: repeat(40, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
}
@media (max-width: 680px) {
  .feature-content .column-cont .right-column {
    width: 90%;
    margin-top: 70%;
  }
}
.feature-content .column-cont .right-column p {
  font-family: 'Bungee', cursive;
  font-size: 1.5rem;
}
.feature-content .column-cont .right-column .topBtn {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 40%;
  background-color: orange;
  font-weight: bold;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.feature-content .column-cont .right-column .topBtn:hover {
  cursor: pointer;
}
.feature-content .column-cont .right-column .logIn {
  background-color: orange;
  font-size: 1.05rem;
}
.feature-content .column-cont .right-column .preview {
  border-radius: 10px;
  overflow: hidden;
}
.feature-content .column-cont .right-column img {
  height: 80%;
  width: 100%;
}
.feature-content .column-cont .right-column .grid-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-content .column-cont .right-column .one {
  grid-row: 7 / span 20;
  grid-column: 1 / span 2;
  z-index: 5;
  background: ghostwhite;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
@media (max-width: 1000px) {
  .feature-content .column-cont .right-column .one {
    transform: rotate(-15deg);
    grid-row: 7 / span 15;
  }
}
@media (max-width: 680px) {
  .feature-content .column-cont .right-column .one {
    transform: rotate(0deg);
    grid-row: 7 / span 17;
    grid-column: 1 / span 3;
  }
}
.feature-content .column-cont .right-column .two {
  z-index: 10;
  background: #24dc8e;
  grid-row: 15 / span 20;
  grid-column: 2 / span 2;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
@media (max-width: 1000px) {
  .feature-content .column-cont .right-column .two {
    grid-row: 15 / span 15;
  }
}
@media (max-width: 680px) {
  .feature-content .column-cont .right-column .two {
    grid-row: 16 / span 17;
    grid-column: 2 / span 3;
  }
}
.feature-content .column-cont .right-column .three {
  z-index: 2;
  grid-column: 3 / span 2;
  background: #2c419b;
  grid-row: 1 / span 20;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
@media (max-width: 1000px) {
  .feature-content .column-cont .right-column .three {
    grid-row: 6 / span 15;
  }
}
@media (max-width: 680px) {
  .feature-content .column-cont .right-column .three {
    grid-column: 2 / span 3;
    grid-row: 1 / span 23;
  }
}
.feature-content .column-cont .right-column .four {
  z-index: 70;
  grid-column: 2 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  grid-row: 8 / span 20;
}
.feature-content .column-cont .right-column .four .sp {
  width: 50%;
}
@media (max-width: 1000px) {
  .feature-content .column-cont .right-column .four {
    grid-row: 6 / span 15;
  }
}
@media (max-width: 680px) {
  .feature-content .column-cont .right-column .four {
    grid-column: 2 / span 3;
    grid-row: 1 / span 23;
  }
}
.feature-content .column-cont .right-column .no-show {
  display: none;
}
#default {
  visibility: hidden;
}
#slideUp {
  animation: slideUp 5s;
  visibility: visible;
}
@keyframes slideUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu-cont {
  position: absolute;
  z-index: 800;
  top: 13%;
  opacity: 1;
  display: block;
  border-radius: 10px;
  width: 97%;
  margin: 0px 2%;
  background-image: linear-gradient(to top right, rgba(255, 0, 0, 0), #24dc8e 40%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 0%;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.menu-cont .menu {
  padding: 20px;
  font-family: 'Bungee', cursive;
  border-radius: 10px;
  color: white;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  margin: 4%;
  text-align: center;
  font-size: 1.15rem;
}
.menu-cont .menu:hover {
  opacity: 0.9;
  cursor: pointer;
}
.menu-cont a:link {
  text-decoration: none;
}
.menu-cont a:link:visited {
  text-decoration: none;
  color: white;
}
.menu-cont a {
  color: white;
  width: 100%;
}
.menu-cont .signup {
  background: #3c4bf5;
  grid-column: 2 / span 3;
}
.menu-cont .login {
  background: violet;
  grid-column: 3 / span 2;
}
.menu-cont .team {
  background: lightblue;
  grid-column: 3 / span2;
}
.hide {
  display: none;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  display: flex;
  flex-direction: column;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.global-container {
  width: 100%;
}
@media (min-width: 1600px) {
  .global-container .global-container {
    width: 1570px;
  }
}
a {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
}
