@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizYRExUiTo99u79D0e0x8mN.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizdRExUiTo99u79D0e8fOydLxUY.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v10/jizfRExUiTo99u79B_mh0O6tKA.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKtdSZaM9iE8KbpRA_hK1QI.ttf) format('truetype');
}
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v10/pxiKyp0ihIEF2isfFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v13/FwZY7-Qmy14u9lezJ-6H6Mw.ttf) format('truetype');
}
.top-bar {
  width: 100%;
  padding: 20px;
  position: absolute;
  font-family: 'Quicksand', sans-serif;
  z-index: 50;
}
.top-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  color: ghostwhite;
}
.top-bar .logo-main {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  margin-right: 5px;
}
.top-bar .tech {
  display: inline-block;
  font-family: 'VT323', monospace;
  font-size: 1.1rem;
}
.top-bar .container-right {
  width: 173px;
  display: flex;
  justify-content: space-around;
}
.top-bar .abtus {
  font-weight: bold;
  font-size: 1.1rem;
}
.top-bar a:link {
  text-decoration: none;
}
@media ( max-width :680px ) {
  .top-bar .abtus {
    display: none;
  }
}
.top-bar .topBtn {
  border-radius: 10px;
  padding: 10px;
  background-color: orange;
  font-weight: bold;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.top-bar .topBtn:hover {
  cursor: pointer;
}
.top-bar .logIn {
  background-color: #27c51e;
}
.background-cont {
  margin-bottom: 2%;
}
.header {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  display: flex;
  color: whitesmoke;
  justify-content: center;
  position: relative;
}
.header .back-text {
  width: 100%;
  height: 500%;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(90deg, #4632aa, #00a5ff 50%, #24c6dc);
  transform: skewY(-13deg);
  top: 0px;
  transform-origin: 0;
}
.header .back-text .texture:first-child {
  position: absolute;
  width: calc(100%/3);
  height: 23%;
  top: calc(0%);
  background: #2c419b;
}
@media ( max-width :680px ) {
  .header .back-text .texture:first-child {
    display: none;
  }
}
.header .back-text .texture:nth-child(2) {
  position: absolute;
  width: calc(100%/3);
  height: 13%;
  top: calc(100%/4/2.5);
  background: #0087ea;
  right: 33.5%;
}
@media ( max-width :680px ) {
  .header .back-text .texture:nth-child(2) {
    display: none;
  }
}
.header .back-text .texture:nth-child(3) {
  right: 23.5%;
}
@media ( max-width :680px ) {
  .header .back-text .texture:nth-child(3) {
    display: block;
    position: absolute;
    width: calc(100%/3);
    height: 23%;
    top: 0%;
    background: #02b7ff;
    right: 27.5%;
    top: -13%;
  }
}
.header .back-text .texture:nth-child(4) {
  position: absolute;
  width: calc(100%/3);
  height: 20.9%;
  top: 79%;
  background: #02b7ff;
  right: -10.5%;
}
.header .background {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 600px;
  justify-content: center;
  align-items: center;
  height: 100px;
  z-index: 50;
  margin-top: 70px;
  text-align: center;
}
@media ( max-width :680px ) {
  .header .background h3 {
    font-size: 2.063rem;
  }
}
.header .background p {
  width: 100%;
  font-size: 1.25rem;
}
@media ( max-width :680px ) {
  .header .background p {
    margin: 10px;
    margin-bottom: 40px;
    font-size: 1.3rem;
  }
}
.header .background .button-signup {
  background: orange;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 30px;
  width: 30%;
  padding: 20px;
  text-align: center;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.header .background .button-signup:hover {
  cursor: pointer;
}
@media ( max-width :680px ) {
  .header .background .button-signup {
    width: 70%;
  }
}
.feature-content {
  margin-top: 35%;
  display: flex;
  justify-content: center;
  padding: 20%;
}
.feature-content h3 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 2.3rem;
  font-family: 'Quicksand', sans-serif;
  color: #2c419b;
}
.feature-content .column-cont-about {
  width: 100%;
}
.feature-content .column-cont-about .grid-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 40px;
}
.feature-content .column-cont-about .grid-container .preview {
  border-radius: 35px;
  background: #4632aa;
  overflow: hidden;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.feature-content .column-cont-about .grid-container .preview .team-img img {
  width: 100%;
}
.feature-content .column-cont-about .grid-container .preview .team-content {
  grid-column: 2 / span 2;
}
.feature-content .column-cont-about .grid-container .one {
  grid-column: 1 / span 1;
}
.feature-content .column-cont-about .grid-container .two {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.feature-content .column-cont-about .grid-container .three {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}
.feature-content .column-cont-about .grid-container .four {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
.feature-content .column-cont-about .grid-container .five {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.feature-content .column-cont-about .grid-container .six {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}
.feature-content .column-cont-about .grid-container .seven {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}
.feature-content .column-cont {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-family: 'Quicksand', sans-serif;
}
.feature-content .column-cont .left-column {
  height: 500px;
  width: 40%;
  margin-top: 11%;
}
.feature-content .column-cont .left-column p {
  line-height: 2;
  font-size: 1.5rem;
  color: #44454b;
}
.feature-content .column-cont .left-column ul {
  line-height: 1.5;
  font-size: 1.5rem;
  color: #44454b;
  align-items: center;
  list-style-image: url('https://upload.wikimedia.org/wikipedia/commons/8/86/Chevron-right%2C_Web_Fundamentals.svg');
}
.feature-content .column-cont .right-column {
  height: 500px;
  width: 40%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.feature-content .column-cont .right-column img {
  height: 80%;
  width: 100%;
}
.feature-content .column-cont .right-column .grid-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-content .column-cont .right-column .one {
  grid-row: 3 / span 2;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.feature-content .column-cont .right-column .one .topBtn {
  border-radius: 10px;
  padding: 10px;
  background-color: orange;
  font-weight: bold;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.feature-content .column-cont .right-column .one .topBtn:hover {
  cursor: pointer;
}
.feature-content .column-cont .right-column .one .logIn {
  background-color: #27c51e;
}
.feature-content .column-cont .right-column .two {
  grid-row: 2 / span 2;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.feature-content .column-cont .right-column .three {
  grid-row: 1 / span 2;
  grid-column: 3 / span 2;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-size: 62.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
