.feature-content{

    margin-top: 165px;
    flex-wrap: wrap; 

    h3{
        display:flex;
        justify-content: center;
        width: 100%;
    }


    .column-cont{
        display: flex;
        width: 100%;
        justify-content: space-evenly;

        .left-column{
            height: 500px;
            width: 40%;
            background: blue;
            }

        .right-column{
            height: 500px;
            width: 40%;
            background: red;

        }
    }
}
.bottom{
    height: 300px;
}

