// @import './variables';
// @import './mixins';
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic,900');
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=VT323");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Bungee");
@import './variables.less';
@import './components/footer/footer';
@import './components/TopBar/TopBar';
@import './components/Header/Header';
@import './components/Column/Content';

@import './components/menu/menu';

* { 
  box-sizing: border-box;
}

html, body {
  margin: 0; 
  padding: 0; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.global-container{
  width:100%;
  @media (min-width: 1600px) {
    .global-container {
      width: 1570px;
    }
  }
}

body {
  display:flex;
  flex-direction: column;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
 
  
}



a{
  text-decoration: none;
  color:white;
  &:visited{

    text-decoration: none;

  }
}
  
// @import './variables.less';
// @import './components/TopBar/TopBar';
// @import './components/Header/Header';
